*{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.hidden{
    display: none;
}

/*parallax background image here*/
#parallax{
    background: url(images/background.jpg);

    width: 98%;
    height: 100vh;
    
    /* Create the parallax scrolling effect*/
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: rgba(117, 117, 117, 0.9);
}

#title{
    margin: 20px;
    margin-top: 20px;
    text-align: center;
    background: lightgrey;
    
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    border-radius: 2px;
    width: 40%;

    position: relative;
    top: 12px;
    left: 27%;
}

#gpu-list{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gpu{
    position: relative;
    display: inline-block;

    width: 30%;
    height: 450px;
    margin: 10px;
    background: lightgrey;
    
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    border-radius: 2px;
}
.gpu a{
    text-decoration: none;
    color: black;
}

.gpu img{
    display: block;
    margin: 15px;
    margin-left: 30px;
}

.gpu h3{
    font-size: xx-large;
}

.dropdown{
    display: none;

    position: relative;
    background-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    border-radius: 2px;
    padding: 2px;
}

.gpu:hover .dropdown{
    display: block;
    z-index: 1;
    font-size: medium;
    padding: none;
}

.gpu:hover div{
    display: none;
}

#buttons{
    margin: 25px;
    display: flex;
    justify-content: space-evenly;
}

#buttons button{
    width: 100px;
    height: 75px;
    background-color: grey;
    color: black;

    border: solid 2px darkgrey;
    border-radius: 5px;

    font-size: large;

    margin-bottom: 15px;
}

#form-container{
    display: flex;
    justify-content: space-evenly;
}

.gpu-form{
    width: 40%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: lightgrey;

    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    border-radius: 2px;
}

.gpu-form label{
    display: block;
}